.contact {
    background-color: var(--blue8);
    padding: 2rem;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  
  .contact p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: .03rem;
    max-width: 920px;
  }
  
  .contact a {
    color: var(--blue1);
    text-decoration: none;
    border-bottom: 1px solid var(--blue1);
    font-size: 1.2rem;
  }
  
  .contact a:hover,
  .contact a:focus {
    color: #fff;
  }
  
  .contact p em {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-style: normal;
    color: var(--blue1);
    letter-spacing: .06rem;
    line-height: 1.75;
  }


  @media screen and (max-width: 920px) {

    .contact p {
      font-size: 1rem;
    }
    .contact a {
      font-size: 1rem;
    }
  }